.header{
    display: flex;
    justify-content: center;
    font-family: unset;
    font-weight: 900;
    font-size: 40px;
    height: 60px;
    background-color: blanchedalmond;
}

.footer{
    text-align: end;
    height: 20px;
    padding: 0px;
    font-style: normal;
    background-color: rgb(255, 127, 244);
}