.header{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: unset;
    font-weight: 900;
    font-size: 40px;
    background-color: blanchedalmond;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    margin-top: 60px;
    font-family: unset;
    font-weight: 900;
    font-size: 40px;
}

.footer{
    text-align: end;
    height: 20px;
    padding: 0px;
    font-style: normal;
    background-color: rgb(255, 127, 244);
}